@page
@model SmartDevicesReturn.Pages.DeviceReturn.IndexModel



    <div class="container pt-3">
	<div class="row pt-4">
		<div class="col-6">
            <h2 class="text-primary">Smart Device Return</h2>
         </div>

         <br /> <br /> <br /> <br />

        <div>
            <a asp-page="create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i>&nbsp;Create New Smart Device Return
            </a>
        </div>
    </div>
    <br /><br />

        <div>
            <span class="span4 text-left"><a href="https://rfhdprdapp01/ITAMS/default.asp" class="btn btn-light" target=”_blank”><i class="bi bi-pc-display"></i>&nbsp;ITAMS</a></span>
            &nbsp;
            <span class="span4 text-center"><a href="https://airwatchadm.rest.techscience.net" class="btn btn-primary" target=”_blank”><i class="bi bi-shield-fill-check"></i>&nbsp;AirWatch</a></span>
            &nbsp;
            <span class="span4 text-right"><a href="https://www.vcol.co.uk" class="btn btn-danger" target=”_blank”><i class="bi bi-sim-fill"></i>&nbsp;VCO</a></span>
       </div>
       <br /> <br />

    <table class="table table-bordered table-striped customTable" align="center">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Accepted By
                </th>
                <th>
                    Date received
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Ticket No.
                </th>
                <th>   
                    Service Category
                </th>
                <th>
                    Device Type
                </th>
                <th> 
                    Device IMEI/DAMS/Serial No.
                </th>
                <th>
                    Phone/SIM No.
                </th>
                <th>
                    Description
                </th>
                <th>
                    Action Required
                </th>
                <th>
                    Device Status
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Collection
                </th>
                <th>
                    Posted
                </th>
                <th>
                    Repair
                </th>
                <th>
                    Replacement Required
                </th>
                <th>
                    Disposal
                </th>
                <th>
                    Date Actioned
                </th>
            
            </tr>

        </thead>
        
        <tbody>
            @foreach(var obj in Model.CategoryReturn)
            {
            <tr>
                <td width="100%">@obj.Id</td>
                <td width="100%">@obj.acceptedBy</td>
                <td width="100%">@obj.dateReceived</td>
                <td width="100%">@obj.userName</td>
                <td width="100%">@obj.email</td>
                <td width="100%">@obj.ticketNo</td>
                <td width="100%">@obj.serviceCategory</td>
                <td width="100%">@obj.deviceType</td>
                <td width="100%">@obj.deviceId</td>
                <td width="100%">@obj.phoneNo</td>
                <td width="100%">@obj.faultDescription</td>
                <td width="100%">@obj.actionRequired</td>
                <td width="100%">@obj.deviceStatus</td>
                <td width="100%">@obj.Stock</td>
                <td width="100%">@obj.Collection</td>
                <td width="100%">@obj.Post</td>
                <td width="100%">@obj.Repair</td>
                <td width="100%">@obj.Replacement</td>
                <td width="100%">@obj.Disposal</td>
                <td width="100%">@obj.dateActioned</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                    <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                    <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                    <i class="bi bi-trash3-fill"></i>
                    </a>
                    </div>
                </td>
            </tr>
            }
         
        </tbody>
    </table>
   </div>
   